<div class="header clearfix">
    <a href="{% url 'main' %}" class="logo"></a>
    <ul class="menu">

        <li>
            <a class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}"
               href="{% url 'main' %}">домой</a>
        </li>

        <li>
            <a class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}"
               href="{% url 'products:index' %}">продукты</a>
        </li>

        <li>
            <a class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
               href="{% url 'contact' %}">контакты</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}">
                    {{ user.first_name|default:'Пользователь' }}
                </a>
            </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
                <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>
    </ul>
    <a class="search" href="#"></a>
    <a class="basket" href="{% url 'basket:view' %}">
        {% if basket %}
            <span>
            {{ basket.0.get_total_quantity }} &#61;
        </span>
            <span>
            {{ basket.0.get_total_price }} &#8381;
                </span>
        {% endif %}
    </a>
</div>