<div class="header clearfix">
    <a href="{% url 'mainapp:main' %}" class="logo"></a>
    <ul class="menu">

        <li>
            <a href="{% url 'mainapp:main' %}"
                    {% if request.resolver_match.url_name == 'main' %}
               class="active"
                    {% endif %}>
                домой
            </a>
        </li>

        <li>
            <a href="{% url 'mainapp:products' %}"
                    {% if request.resolver_match.url_name == 'products' %}
               class="active"
                    {% endif %}>
                продукты
            </a>
        </li>

        <li>
            <a href="{% url 'mainapp:contact' %}"
                    {% if request.resolver_match.url_name == 'contact' %}
               class="active"
                    {% endif %}>
                контакты
            </a>
        </li>
    </ul>
    <a class="search" href="#"></a>
    <a class="basket" href="#"></a>
</div>