{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_filter_tags %}

{% block menu %}
    <div class="hero">
        {% include 'mainapp/includes/include__menu.html' %}
        <h1>наши контакты</h1>
        <p>сегодня: {% now "l, j F, Y" %}</p>
        <p>сегодня: {{ visit_date|date:"l, j F, Y" }}</p>
    </div>
{% endblock menu %}

{% block content %}
    <div class="location">
        {% for location in locations %}
            <div class="location-1">
                <i class="fa fa-map-marker fa-5x"></i>
                <h4>{{ location.city }}</h4>
                <div class="contacts">
                    <h5>Телефон</h5>
                    <p>{{ location.phone|tel }}</p>
                </div>
                <div class="contacts">
                    <h5>Email</h5>
                    <p>{{ location.email|mail_to }}</p>
                </div>
                <div class="contacts">
                    <h5>Адрес</h5>
                    <p>{{ location.address }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="clr"></div>
{% endblock content %}