{% extends 'mainapp/base.html' %}
{% load static %}

{% block page_title %}{{ page_title|upper }}{% endblock page_title %}

{% block menu %}
    <div class="hero-white">
        {% include 'mainapp/includes/include__menu.html' %}
    </div>
{% endblock menu %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/include__categories_menu.html' %}
        </div>

        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{{ media_url }}{{ hot_product.image }}" alt="{{ hot_product.short_desc }}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{{ media_url }}{{ hot_product.image }}"
                                         alt="{{ hot_product.short_desc }}">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{{ media_url }}{{ hot_product.image }}"
                                         alt="{{ hot_product.short_desc }}">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{{ media_url }}{{ hot_product.image }}"
                                         alt="{{ hot_product.short_desc }}">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ hot_product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price">{{ hot_product.price }}<span>&#8381;</span></p>
                <a class="red-button" href="{% url 'basket:add' hot_product.pk %}">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">{{ hot_product.description }}</div>
            </div>
        </div>

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt="arrow"></a>
            </div>
            <div class="related-products clearfix">
                {% for product in same_products %}
                    <div class="block" style="height: 368px; width: 368px;">
                        <a href="{% url 'products:product' product.pk %}">
                            <img src="{{ media_url }}{{ product.image }}"
                                 alt="{{ product.short_desc }}">
                            <div class="text">
                                <img src="{% static 'img/icon-hover.png' %}" alt="img">
                                <h3 style="color: aquamarine">Категория: {{ product.category.name }}</h3>
                                <h4 style="color: palevioletred">Название: {{ product.name }}</h4>
                                <p style="background-color: beige">Описание: {{ product.description }} </p>
                                <p style="color: brown">Цена: {{ product.price }} ₽</p>
                                <p style="font-style: italic">На складе: {{ product.quantity }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clr"></div>

{% endblock content %}