.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: 100px auto;

    position: relative;
    display: block;
}

.login .head {
    margin: 25px auto;
}

.login form {
    margin-bottom: 30px;
}