.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: 100px auto;

    position: relative;
    display: block;
}

.login .head {
    margin: 15px auto;
}

.login .form-control[type="submit"] {
    margin: 10px auto;
}

.login button {
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.login button.last {
    margin-bottom: 25px;
}

.login button a, .login button a:hover {
    border: 1px solid #eaeaea;
    color: #555;
    text-decoration: none;
}

.login form {
    margin-bottom: 10px;
}

.login div.user_avatar {
    position: fixed;
    left: 175px;
    top: 200px;
}

.user_avatar img {
    width: 300px;
    border-radius: 25px;
}

.errorlist {
    list-style-type: none;
    color: red;
}